<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue interact with DOM</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Vue JS -->
    <script src ="https://cdn.jsdelivr.net/npm/vue"></script>
    <style media="screen">
      .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
      }
      .red{
        background-color: red;
      }
      .blue{
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>{{title}}</p>
      <p v-once>{{title}}</p>
      <p>{{sayHello()}}</p>
      <p>{{sayHelloWorld()}}</p>
      <a :href="link">google</a>
      <input type="text" v-on:input="changeTitle">
      <hr>
      <p v-html="finishLink"></p>
      <hr>
      <button type="button" name="button" v-on:click="increase">click</button>
      <hr>
      <button type="button" name="button" v-on:click="counter++">click</button>
      <div>
        {{counter*2}}
      </div>
      <hr>
      <p v-on:mousemove="mouseCoordinate">coordinates: {{x}},{{y}}      <span v-on:mousemove.stop="">dead zone</span></p>
      <input type="text" name="" value="" v-on:keyup.enter.space="alertMe">
      <hr>
      <input type="text" v-model="title">
      <p>{{title}}</p>
      <hr>
      <button type="button" name="button" v-on:click="counter++">increase</button>
      <button type="button" name="button" v-on:click="counterSec++">increase_2</button>
      <p>counter {{counter}} | {{counterSec}}</p>
      <p>{{result()}} | {{result_}}</p>
      <hr>
      <div class="demo" @click="attachRed=!attachRed" :class="{red:attachRed,blue:!attachRed}"></div>
      <div class="demo" :class="redBlue"></div>
      <div class="demo" :class="[color,{red: attachRed}]"></div>
      <input type="text" name="" value="" v-model="color">
      <hr>
      <div class="demo" :style="{backgroundColor:color,width:width}"></div>
      <div class="demo" :style="myStyle"></div>
      <div class="demo" :style="[myStyle,{marginLeft:width}]"></div>
      <input type="text" name="" value="" v-model="color">
      <input type="text" name="" value="" v-model="width">
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#app',
        data: {
          link: "https://google.com",
          counter: 0,
          counterSec: 0,
          x: 0,
          y: 0,
          attachRed: false,
          color: "red",
          width: "100px",
          finishLink: "<a href='https://www.baidu.com'>baidu</a>",
          title: "hello world"
          <!-- This is the words to be inserted to the <p>{{ title }}</p>-->
        },//all the data needed for this ele
        methods: {
          changeTitle: function(e){
            this.title= e.target.value;
            //This refer to the data attr
          },
          sayHello: function(){
            return "hello";
          },
          sayHelloWorld: function(){
            return this.title;
          },
          increase: function(){
            this.counter++;
          },
          mouseCoordinate: function(e) {
            this.x=e.clientX;
            this.y=e.clientY;
            console.log(e);
          },
          alertMe: function(){
            alert("fuck!");
          },
          result: function() {
            if(this.counter > 5){
              return ">5";
            }else {
              return "<=5";
            }
          }
        },
        computed: {
          result_: function() {
            if(this.counter > 5){
              return ">5";
            }else {
              return "<=5";
            }
          },
          redBlue: function(){
            return {
              red: this.attachRed,
              blue: !this.attachRed
            };
          },
          myStyle: function(){
            return {
              backgroundColor: this.color,
              width: this.width
            };
          }
        },
        watch: {
          counter: function(val) {
            var self = this;
            setTimeout(function(){
              self.counter = 0;
            },5000);
          }
        }
        });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
