<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="playerBarStyle">

                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="MonsterBarStyle">

                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="startNewGame">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame=!startNewGame;controlPanel=!controlPanel">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="controlPanel">
        <div class="small-12 columns">
            <button id="attack" @click="attack();">ATTACK</button>
            <button id="special-attack" @click="specialAttack();">SPECIAL ATTACK</button>
            <button id="heal" @click="heal();">HEAL</button>
            <button id="give-up" @click="giveUp();">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul v-for="elem in fightRecord">
                <li :class="elem.class">
                  {{elem.value}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script type="text/javascript">
  new Vue({
    el: "#app",
    data: {
      startNewGame: true,
      controlPanel: false,
      playerBarStyle: {
        width: "100%"
      },
      MonsterBarStyle: {
        width: "100%"
      },
      fightRecord: []
    },
    methods: {
      giveUp: function(){
        this.MonsterBarStyle.width="100%";
        this.playerBarStyle.width="100%";
        this.startNewGame=!this.startNewGame;
        this.controlPanel=!this.controlPanel;
        this.fightRecord=[];
      },
      addRecord: function(bool, val){
        if(bool === true){
          this.fightRecord.unshift({value:"PLAYER HITS MONSTER FOR "+val,class:"player-turn"});
        }else if (bool===false){
          this.fightRecord.unshift({value:"MONSTER HITS PLAYER FOR "+val,class:"monster-turn"});
        }else {
          this.fightRecord.unshift({value:"PLAYER HEALS HIMSELF FOR "+val,class:"player-turn"});
        }
      },
      attack: function(){
        // get current live value
        var playerBar = this.playerBarStyle.width.slice(0, this.playerBarStyle.width.length-1);
        // player life reduction
        var playerVal = Math.ceil(Math.random()*8);
        playerBar = parseFloat(playerBar)-playerVal;
        // update the reduction list
        this.addRecord(true,playerVal);
        // update the live bar
        if(playerBar>0){
          this.playerBarStyle.width=playerBar+"%";
        }else {
          this.playerBarStyle.width="0";
          window.alert("You lose!!");
          this.giveUp();
          return;
        }
        var monsterBar = this.MonsterBarStyle.width.slice(0, this.MonsterBarStyle.width.length-1);
        // monster life reduction
        var monsterVal = Math.ceil(Math.random()*8);
        monsterBar = parseFloat(monsterBar)-monsterVal;
        this.addRecord(false,monsterVal);
        if(monsterBar>0){
          this.MonsterBarStyle.width=monsterBar+"%";
        }else {
          this.MonsterBarStyle.width="0";
          window.alert("You win!!");
          this.giveUp();
          return;
        }
      },
      specialAttack: function(){
        // handle the live bar
        var playerBar = this.playerBarStyle.width.slice(0, this.playerBarStyle.width.length-1);
        var playerVal = Math.ceil(Math.random()*20+8);
        playerBar = parseFloat(playerBar)-playerVal;
        this.addRecord(true,playerVal);
        if(playerBar>0){
          this.playerBarStyle.width=playerBar+"%";
        }else {
          this.playerBarStyle.width = "0%";
          window.alert("You lose!!");
          this.giveUp();
          return;
        }
        var monsterBar = this.MonsterBarStyle.width.slice(0, this.MonsterBarStyle.width.length-1);
        var monsterVal=Math.ceil(Math.random()*20+10)
        monsterBar = parseFloat(monsterBar)-monsterVal;
        this.addRecord(false,monsterVal);
        if(monsterBar>0){
          this.MonsterBarStyle.width=monsterBar+"%";
        }else {
          this.MonsterBarStyle.width="0";
          window.alert("You win!!");
          this.giveUp();
          return;
        }
      },
      heal: function(){
        var playerBar = this.playerBarStyle.width.slice(0, this.playerBarStyle.width.length-1);
        var heal = Math.ceil(Math.random()*10+5);
        playerBar = parseFloat(playerBar)+heal;
        if(playerBar<100){
          this.playerBarStyle.width=playerBar+"%";
          this.addRecord("heal",heal);
          // attacked when healing
            self = this;
            setTimeout(function(){
              var t = self.playerBarStyle.width.slice(0, self.playerBarStyle.width.length-1);
              var tVal=Math.ceil(Math.random()*2);
              t -= tVal;
              self.playerBarStyle.width = t+"%";
              self.addRecord(false,tVal);
            },500);
        }else {
          this.playerBarStyle.width="100%"
        }
      },
    }
  });
</script>
</body>
</html>
